//colors
$color: black;
$color2: lightgrey;
$bgcolor: white;

//fonts
$font-family:  "Arial", sans-serif;
$font-size: 16px;
$line-height: 1.5em;

//grid Variables
$container-width: 8.5in;
$container-padding: 2%;
$columns: 12;
$gutter: 40px;